<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="BinaryNuGetMirror" value="https://binary.alfabank.ru/artifactory/api/nuget/v3/nuget_public" />
  </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>
